gymnasium[classic-control]
dm_control
opencv-python
imageio
einops
opt_einsum
prettytable
# Logging
mlflow
hydra-core
#google.cloud.storage
# azure-storage-blob

# Profiling
# tensorboard
# torch-tb-profiler

# Agents
# numba
# scikit-image
# dm-env
# dm-env-rpc==1.0.6
# grpcio

# Environments
minigrid
miniworld
git+https://github.com/RTPlayground/memory-maze.git